<div>
    <h1>National Museum of Medieval Art</h1>
    <p>National Museum of Medieval Art is a museum in Korçë, Albania.
    It was established on April 24, 1980. The museum has over 7,000
    art and cultural items, mainly icons, stone, wooden, metal and 
    textile works representing various moments in Albania's iconography 
    development. In the principal hall there are many works from anonymous
    artists of the 13th-14th century and well-known ones including Onufri.
    Address: Rruga Sotir Peçi 2, Korçë
    Phone number: 082 243 022
    </p>
    
    <h2>National Archaeological Museum of Korçë</h2>
    <p>National Archaeological Museum of Korçë is a museum in Korçë, Albania.
    It contains around 1200 artifacts from the Hellenic period</p>
    
    <h3>National Education Museum</h3>
    <p>The Frist School in Albanian language (called Mësonjëtorja) was opened on
    7 march 1887 in the current building of National Education Museum, a 15
    0 year old building. It was opened by permission of Ottoman Empire.  
    The building  was the house of the patriot from Korca, Diamanti Terpo,
    who donated it for first albanian school.
    This museum shows the history of albanian writing, the numerous alphabets 
    up to the present one, decided in Manastiri Congress in 1908. It also 
    displayed  albanian book history starting from the first primer of albanian
    language complied by Naum Panajot Bredhi. The museum building has eight
    exhibiting rooms.
    Tel: + 355 824 30 22
    Visiting hours: 9.00-13; 15-18.00
    Holiday: Monday
    Address: L.12, Boulevard: Shen Gjergji, Korçe.
    From May to September, visiting hours are: 8.00-13.00; 16.00 – 19.00
    </p>
</div>